:root {
  --bg1: #e1e1e1;
  --bg2: #eee;
  --bg3: #e6e6e6;
  --bg4: #0002;
  --bg5: #e2e2e2;
  --bg6: #dfdfdf;
  --bg7: var(--color1-muted);
  --bg8: #00000018;
  --bg9: #f7f7f7;
  --bg10: #0005;
  --bg11: #00000008;
  --border1: #777;
  --border2: #999;
  --border3: #0007;
  --border4: #0002;
  --border5: #0006;
  --border6: #0009;
  --border7: #777;
  --border8: #777;
  --border9: #0000005c;
  --border10: #555;
  --border11: #555;
  --border12: #0002;
  --border13: #0001;
  --border14: #0004;
  --fg1: #000;
  --fg2: #000;
}

[data-theme="dark"] {
  --bg1: #111;
  --bg2: #111;
  --bg3: #222;
  --bg4: #fff2;
  --bg5: #181818;
  --bg6: #000;
  --bg7: #333;
  --bg8: #fff4;
  --bg9: #000;
  --bg10: #0008;
  --bg11: #fff1;
  --border1: #666;
  --border2: #777;
  --border3: #222;
  --border4: #fff2;
  --border5: #777;
  --border6: #0000;
  --border7: #bbb;
  --border8: #0000;
  --border9: #ffffff5c;
  --border10: #fff;
  --border11: var(--bg6);
  --border12: #ffffff22; 
  --border13: #ffffff0d; 
  --border14: #fff7;
  --fg1: #ddd;
  --fg2: #ddd;
}