@import "colors.css";
@import "themes.css";

@font-face {
  font-family: "Abel";
  src: url("./../assets/fonts/Abel.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("./../assets/fonts/Manrope/Manrope-Medium.otf");
}

@font-face {
  font-family: "Manrope";
  src: url("./../assets/fonts/Manrope/Manrope-ExtraBold.otf");
  font-weight: bold;
}

* {
  font-family: 'Manrope', 'Roboto', sans-serif;
}

body {
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

button {
  border: none;
}

input, button, textarea, :focus {
  outline: none;
}

.btn-1 {
  background-color: #0000;
  border: 1px solid var(--border1)!important;
  border-radius: 50%!important;
  height: 24px;
  width: 24px;
}

.btn-2 {
  border: 1px solid var(--border1);
  font-size: 13px; 
  background-color: #0000; 
  color: var(--border6);
}

.btn-3 {
  font-size: 13px;
  background-color: var(--color1);
  color: var(--bg6); 
  border: none;
  transition: 0.25s ease-in-out background-color;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-v {
  display: flex;
  align-items: center;
}

.clip-title:hover {
  color: #0008!important;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.focus-1:focus {
  background-color: var(--bg5)!important;
  transition: 0.2s;
}

.focus-2:focus, .focus-3:focus {
  background-color: #fff3;
  transition: 0.2s;
}

.focus-3 {
  background-color: #0000;
}

.font-bold {
  font-weight: bold;
}

.force-cursor * {
  cursor: inherit!important;
}

.guideline {
  position: absolute;
  top: 0px;
  bottom: 0;
  border-right: 2px dotted var(--border11);
  z-index: 16;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-selection::selection {
  background-color: #0000;
}

.hover-1:hover, .hover-1:focus {
  background-color: var(--bg5)!important;
  transition: 0.1s;
}

.hover-1:focus .MuiTouchRipple-rippleVisible {
  display: none;
}

.hover-1:active {
  border: 1px solid var(--color1)!important;
  color: var(--color1)!important;
  transition: 0.1s;
}

.hover-1:active svg, .hover-1:active * {
  color: var(--color1)!important;
  transition: 0.1s;
}

.hover-2, .hover-3 {
  cursor: pointer;
}

.hover-2:hover, .hover-2:focus,
.hover-3:hover, .hover-3:focus,
.hover-4:hover, .hover-4:focus {
  background-color: var(--bg5);
  transition: 0.2s;
}

.hover-2:hover, .hover-2:focus {
  background-color: var(--bg5)!important;
}

.hover-4:hover, .hover-4:focus {
  transition: 0s;
}

.input1 {
  border: 1px solid var(--border6);
  color: var(--border6);
  outline: none;
  font-size: 14px;
  width: 100%;
  text-align: center;
  background-color: #0000;
}

.input1::placeholder {
  opacity: 0.7;
}

.input-2 {
  background-color: var(--bg6); 
  width: 50px; 
  border: 1px solid var(--border6); 
  color: var(--border6); 
  font-size: 13px;
}

.invalid-track-type {
  cursor: not-allowed!important;
  opacity: 0.4;
  filter: brightness(0.95);
}

.invalid-track-type * {
  cursor: not-allowed!important;
}

.no-borders {
  border: none!important;
}

.no-outline {
  outline: none;
}

.no-shadow {
  box-shadow: none!important;
}

.no-shadow * {
  box-shadow: none!important;
}

.overlay-1::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--bg7);
  z-index: 14;
  pointer-events: none;
}

.remove-spacing {
  padding: 0px !important;
  margin: 0px !important;
  min-height: 0px !important;
  min-width: 0px !important;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar:horizontal {
  border-top: 1px solid #777;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #777;
  border-style: solid;
  border-color: #0000;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-thumb:horizontal {
  border-width: 3px 3px 2px 3px;
}

.scrollbar::-webkit-scrollbar-thumb:vertical {
  border-width: 2px 2px 2px 2px;
}

.show-on-hover:not(:hover):not(:focus-within) .hidden {
  opacity: 0!important;
}

.show-on-hover:not(:hover):not(:focus-within) .removed {
  display: none!important;
}

.sort-indicator::after {
  content: '';
  position: absolute;
  bottom: -1.5px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: var(--color1);
  z-index: 14;
  pointer-events: none;
} 

.sort-indicator-top::after {
  top: -1px;
  bottom: auto
} 

.sort-indicator-v::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1.5px;
  width: 3px;
  background-color: var(--color1);
  z-index: 14;
  pointer-events: none;
} 

.sort-indicator-v-left::after {
  left: -1px;
  right: auto;
} 

.track-btn {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-weight: bold;
  width: 18px;
  height: 18px;
  border: 1px solid var(--border6);
  background-color: #0000;
  line-height: 1;
}

::-webkit-scrollbar-corner {
  background-color: #0000;
}
