* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-primary: #ff6db8;
  --color-primary-muted: #efcdde;
}

.hide-vertical-scrollbar::-webkit-scrollbar {
  width: 0!important;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0!important;
  height: 0!important;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #333;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #fff8;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.scrollbar2::-webkit-scrollbar {
  width: 10px;
  background-color: #0000;
}

.scrollbar2::-webkit-scrollbar-thumb {
  background-color: #0004;
  border-radius: 20px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-corner {background-color: #666;}

.disable-highlighting {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disable-highlighting * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { margin-left: 8px; } 

.hide-dropdown-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.remove-dropdown-styles {
  border: none;
  background-color: #0000;
  outline: none;
}

button {
  border: none;
}

.clip-loop-container {
  position: absolute;
  inset: 0px -1px 0px auto!important;
  transform: translate(100%, 0%)!important;
}

.remove-spacing {
  padding: 0px!important;
  margin: 0px!important;
  min-height: 0px!important;
  min-width: 0px!important
}